<footer class="footer" id = "contacts">
    <div class="sections">
        <h5>FOR CLIENTS</h5>
        <li>
            <a href="about.html">About Us</a>
        </li>
        <li>
            <a href="">Service Forms</a>
        </li>
    </div>
    <div class="sections">
        <h5>FOR BUSINESS</h5>
        <li>
            <a href="#">Log In</a>
        </li>
        <li>
            <a href="">Make a Donation</a>
        </li>
        <li>
            <a href="tel:+77767301903">Phone Number</a>
        </li>
    </div>
    <div class="sections">
        <h5>ABOUT</h5>
        <li>
            <a href="#">Creator</a>
        </li>
        <li>
            <a href="">Idgaf</a>
        </li>
        <li>
            <a href="tel:+77767301903">Why</a>
        </li>
    </div>
</footer>
