<div class="product-card">
  <div class="product-card-image">
    <img [src]="product.image" [alt]="product.title">
  </div>

  <div class="product-card-content">
    <h3 class="product-card-title">{{ product.title }}</h3>
    <p class="product-card-description">{{ product.description }}</p>
    <p class="product-card-price">{{ product.price | currency:'₸ ' }}</p>

    <!-- Рейтинг со звёздами -->
    <div class="product-card-rating">
      <i *ngFor="let star of fullStars" class="fas fa-star"></i>
      <i *ngIf="hasHalfStar" class="fas fa-star-half-alt"></i>
      <i *ngFor="let star of emptyStars" class="far fa-star"></i>
      <span class=""> {{ product.rating }}</span>
    </div>

    <div class="product-card-buttons">
      <a [href]="product.link" class="product-card-button">Go to Product</a>
      <button (click)="addToFavorite()" class="product-card-button">Add to Favorite</button>
    </div>

  </div>
</div>
